<div class="cable-selection shadow p-3 mb-5 bg-white rounded">
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item" *ngFor="let tab of tabs; let i = index">
      <a class="nav-link" [class.active]="currentTab==i" (click)="clicked(i)">{{ tabs[i] }}</a>
    </li>
  </ul>
  <div class="row list-box">
    <ul>
      <li *ngFor="let subCategory of categories[currentTab].subCategories; let i = index">
        {{ subCategory }}
        <ul>
          <li *ngFor="let end of categories[currentTab].endTypes[getSubCategoryIndex(currentTab, subCategory, 0)]">
            {{ end.type }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
