.cable-selection {
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 10px;
  padding-right: 40px;
}

.list-box {
  height: 400px;
  overflow-y: scroll;
}

.nav-link {
  cursor: pointer;
}

.list-box .nav-item {
  text-align: left;
  cursor: pointer;
}

.list-box .input-group {
  cursor: default;
}
