<div class="top-bar">
  <div class="row uw-global-bar">
      {{ globalBarContent }}
  </div>
  <div class="row">
    <img class="col-sm-3" [src]="logoUrl" [style.maxwidth.px]="logoWidth" [style.maxheight.px]="logoHeight"/>
    <h4 class="col-sm">
      <strong>{{ welcomeMessage | uppercase }}</strong>
    </h4>
  </div>
  <ul class="row">
    <li class="col-sm" *ngFor="let menuItem of menuItems">
      <strong>{{ menuItem | uppercase }}</strong>
    </li>
    <li class="col-sm-3"></li>
  </ul>
</div>
